.App {
  font-family: serif;
  text-align: center;
  background-color: rgba(95, 150, 235, 0.2);
}

.addNew {
  position: absolute;
  font-family: serif;
  font-size: 40px;
  background-color: rgba(95, 150, 235, 0.5);
  height: 60px;
  width: 60px;
  border-radius: 30px;
  border: none;
  transform: translate(500px, 450px);
  box-shadow: 5px 5px 5px rgba(0, 0, 255, 0.2);
  transition: all 150ms linear;
}

.addNew:hover {
  height: 70px;
  width: 70px;
  border-radius: 35px;
}

.inputField {
  position: absolute;
  font-family: serif;
  font-size: 14px;
  border: none;
  height: 25px;
  width: 200px;
  transform: translate(-150px, 150px);
  background-color: rgba(0, 255, 0, 0.2);
}

/* @keyframes show-input-fields {
  0% : ;
  50% : ;
  100% : ;
} */

.li {
  position: relative;
  height: 40px;
  width: 60px;
  background-color: hotpink;
  border: none;
  list-style: none;
}
/*
 to slow show the text area on click and hide on submit and that element should 
 write over the list items render in the background
*/
